<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>ContextProbe</string>
	<key>CFBundleIdentifier</key>
	<string>cool.lexo.inputmethod.ContextProbe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ml-ime Context Probe</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>probe.pdf</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>InputMethodConnectionName</key>
	<string>ContextProbe_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>ProbeController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>ProbeController</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>cool.lexo.inputmethod.ContextProbe.probe</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>cool.lexo.inputmethod.ContextProbe.probe</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
					<string>Hant</string>
					<string>Latn</string>
				</array>
				<key>tsInputModeMenuIconFileKey</key>
				<string>probe.pdf</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>probe.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>probe.pdf</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string></string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>0</integer>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>cool.lexo.inputmethod.ContextProbe.probe</string>
		</array>
	</dict>
</dict>
</plist>
